@define-color foreground #cdd6f4;
@define-color background #181824;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0px;
  min-height: 0px;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 20px;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 12px;
}

#tags button {
  all: initial;
  padding: 0 9px;
  margin: 0 2.25px;
  min-width: 13.5px;
  opacity: 0.5;
}

#tags button.focused {
  opacity: 1;
}

#tags button.ocupied {
  opacity: 0.75;
}

#pulseaudio,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 18px;
  margin: 0 11.25px;
}

#tray {
  margin-right: 22px;
}

#bluetooth {
  margin-right: 22.5px;
}

#network {
  margin-right: 19.5px;
}

#custom-expand-icon {
  margin-right: 27px;
}

tooltip {
  padding: 3px;
}

#custom-update {
  font-size: 15px;
}

#clock {
  margin-left: 13.125px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 18px;
  margin-left: 13.125px;
  font-size: 15px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
